.App {
  text-align: center;
}

.navbar {
  background-color: #232f3e;
  padding: 1rem;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  color: white;
  text-align: left;
}

.nav-link{
  display: inline;
  padding: 10px;
  margin-inline: 70px;
  border-radius: 6px;
  padding-inline: 20px;
  background-color: rgb(106, 106, 106);
  border: 1px solid rgb(106, 106, 106);
  color: black;
  text-decoration: none;
}

.nav-link-li{
  padding-top: 30px;
}

.nav-link-top{
  padding-top: 50px;
}

.nav-link:hover{
  background-color: rgb(106, 106, 106);
  border: 1px solid white;
  text-decoration: none;
  color: white;
}

.logo{
  font-size: 35px;
  font-weight: 700;
  margin-left: 80px;
  margin-top: 0px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
} 

.hamburger {
  position: absolute;
  left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: #131921;
  color: white;
  padding: 2rem 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 1rem 0;
}

.sidebar .nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.sidebar .nav-link:hover {
  text-decoration: underline;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.bg-transparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 500;
}

.nav-cart{
  position: absolute;
  right: 60px;
  top: 27px;
  
}

.nav-cart-link{
  background-color: #339231;
  padding: 10px;
  border-radius: 6px;
}

.sidebar-product-type{
  color: white;
  text-decoration: none;
}

.sidebar-product-type:hover{
  background-color: rgb(106, 106, 106);
  padding: 10px;
  border-radius: 6px;
}

.nav-search{
  padding: 10px;
  width: 450px;
  position: absolute;
  top: 17px;
  left: 600px;
  border-radius: 6px;
  font-size: 17px;
}